spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/image_locker}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:Sravan@9}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    # Optional (recommended): remove this to avoid MySQL8Dialect deprecation warnings
    # database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080

app:
  jwt:
    secret: "a9F3kLmP8xQ2vZ7tR1wY6nB4cD9eH5jK3sT8uV2mN6pL0rX4zC7bG1fH9qW5yT2"
    expiration-minutes: 10
