spring:
  datasource:
    url: jdbc:mysql://localhost:3306/image_locker
    username: root
    password: Sravan@9
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080
app:
  jwt:
    secret: "a9F3kLmP8xQ2vZ7tR1wY6nB4cD9eH5jK3sT8uV2mN6pL0rX4zC7bG1fH9qW5yT2"
    expiration-minutes: 60
